body {
  margin: 0;
  font-family: 'Anton', sans-serif;

}

.header{
  background-color: rgba(255, 146, 21, 0.87);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer{
  background-color: rgba(255, 146, 21, 0.87);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.foot i {
  font-size: 12px;
  color: black;
}

i{
  font-size: 35px;
  margin: 5px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

a{
  color: white;
}

a:visited{
  color: white;
}


.titulo{
  color: white;
  text-shadow: 2px 2px 2px black;
}

.boton{
  background-color: white;
  border:1px solid white ;
  height: 35px;
  width: 85px;
  border-radius: 10px;
  font-size: 18px;
  margin-right: 5px;
}

.search{
  height: 35px;
  width:500px;
  border-radius: 10px;
}

.busqueda{
  display: flex;
  width:500px;
}


img{
  height: 300px;
  width: 400px;
}


.section{
  display: flex;flex-wrap: wrap;
  justify-content: center;align-items: center;
  margin-top: 50px;
}

.cajaDeImagen{
  height: 600px;
  width: 400px;
  border: 2px solid rgba(65, 65, 65, 0.287);
  margin: 20px;
  box-shadow: 10px 10px 20px black;
}








.cajaConTexto{
  display: block;justify-content:center;align-items:center;
  padding: 10px;
}


.parrafo{
  display: flex;justify-content:center;align-items:center;
}